body {
    background-image: url('./img/LobbyBG3');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.card {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(240, 228, 7);
    text-align: center;
    border: 4px solid transparent;
    border-image: conic-gradient(from var(--angle), gold, #f0f, #f00, #00f, #0f0) 1;
    border-image-slice: 1;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    animation: 10s rotate linear infinite;
    --angle: 0deg;
    white-space: nowrap;
    text-shadow: rgb(244, 235, 236) 5px 5px 10px;
    text-decoration: underline;
    text-align: center;
    font-weight: 500;
    margin-top: 200px;

}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.card:hover {
    background-image: url('./img/blueMarble');
    color: white;
    text-shadow: black 5px 5px 5px;
    transition: 0.9s ease-in-out;
}
.card .btn {
    border-color: red;
    color: rgb(124, 7, 234);
    text-shadow: rgb(244, 235, 236) 5px 5px 10px;
    border: 3px solid transparent;
    border-image: conic-gradient(from var(--angle), #ff0, #f0f, #f00, #00f, #0f0) 1;
    border-radius: 5px;
    border-image-slice: 1;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);

}

.card .btn:hover {
    color: white;
    background-color: lightcoral;
    transition: 0.4s ease-in-out;
}
.Container {
    margin: 0;
    padding: 0;
    background-color: skyblue;
    color: lightcoral;
}
.navbar {
    color: beige !important;
    background-color: black !important;
}
.navbar-brand {
    font-weight: 700;
    color: green;
    margin-right: 150px;
}
.navbar-brand:hover {
    color: darkgreen;
}

.nav-link {
    color: beige;
    white-space: nowrap;
}
.nav-link:hover,
.nav-link.active {
    background-color: lightcoral;
    color: rgb(247, 240, 240);
    border-radius: 15px;
    transition: 0.4s ease-in;
}
.nav-link.disabled{
    margin-left: 335px;
    background-color: lightcoral;
    color: rgb(247, 240, 240);
    border-radius: 15px;
    transition: 0.4s ease-in;
}
.table {
    background-image: url('./img/alldataBG2');
    opacity: 0.825;
}
.nav-link:focus {
    color: beige;
}
.navbar-toggler {
    background-color: green;
    opacity: 0.85;
}

.navbar-toggler-icon {
    color: red !important;
}
.navbar-toggler:hover {
    /* background-color: rgba(245, 245, 220, 0.75); */
    background-color: lightcoral;

}